{{ define "sidebar" }}
<h2>Connected Devices</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {{ range .Devices }}
        <tr >
            <td>
                <a href="/devices/{{ .Meta.Id }}"
                hx-get="/devices/{{ .Meta.Id }}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="link">
                {{ .Meta.Name }}
             </a>
            </td>
            <td>
                {{ .Meta.Id }}
            </td>
        </tr>

    {{ else }}
        <tr> 
            <td colspan="3">
                No devices found.
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}