{{ define "title" }} Devices {{ end }}

{{ define "sidebar" }}
<h2>Connected Devices</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {{ range .Devices }}
        <tr class="device-row" hx-get="/devices/{{ .Meta.Id }}" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">
            <td>
                {{ .Meta.Name }}
            </td>
            <td>
                {{ .Meta.Id }}
            </td>
        </tr>

    {{ else }}
        <tr> 
            <td colspan="3">
                No devices found.
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}