{{ define "title" }} Features {{ end }}

{{ define "sidebar" }}
<h2>Features</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Source Id</th>
        </tr>
    </thead>
    <tbody>
    {{ range $name, $source := .Features }}
        <tr class="device-row" hx-get="/features/{{ $name }}" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">
            <td>
                {{ $name }} 
            </td>
            <td>
                {{ $source }}
            </td>
        </tr>

    {{ else }}
        <tr> 
            <td colspan="3">
                No Features found.
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}