{{ define "content" }}
<section class="details">
    <h2 class="details-header">{{ .Transport.Name }}</h2>

    <ul>
        <li><strong>Protocol:</strong> {{ .Transport.Protocol }}</li>
        <li><strong>Address:</strong> {{ .Transport.Address }}</li>
        <li><strong>Description:</strong> {{ .Transport.Description }}</li>
        <li><strong>Status:</strong> {{ if .Transport.Connected }}Connected{{ else }}Disconnected{{ end }}</li>
        <li><strong>Max Clients:</strong> {{ .Transport.MaxClients }}</li>
        <li><strong>Current Clients:</strong> {{ len .Transport.Clients }}</li>
    </ul>

    <h3>Connected Devices:</h3>
    <ul>
    {{ range $id, $client := .Transport.Clients }}
        <li>
            <a href="/devices/{{ $client.Meta.Id }}"
            hx-get="/devices/{{ $client.Meta.Id }}"
            hx-target="#main-content"
            hx-swap="innerHTML"
            hx-push-url="true">
                {{ $client.Meta.Name }}
            </a>
        </li>
    {{ else }}
        <li>No connected devices.</li>
    {{ end }}
    </ul>
</section>
{{ end }}